@model CarrinhoCompraViewModel //ViewImports tem um using para o import, assim a importação fica disponivel para aplicação toda

@*p-4 eh o padding*@
<div class="container p-3">
    <div class="row">
        <div>
            <h4> Seu carrinho de compras <i class="fa-solid fa-cart-shopping fa-2x"></i></h4>
        </div>

        <div class="table-responsive-lg">

            <br/>
            <table class="table table-bordered table-striped ">
                @*tabela responsiva*@
                <thead>
                    <tr>
                        <th class="text-center">Quantidade</th>
                        <th class="text-center">Lanche</th>
                        <th class="text-center">Preço</th>
                        <th class="text-center">SubTotal</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model.CarrinhoCompra.CarrinhoCompraItens)
                    {
                        <tr>
                            <td class="text-center">@item.Quantidade</td>
                            <td class="text-center">@item.Lanche.Nome</td>
                            <td class="text-center">@item.Lanche.Preco.ToString("c")</td>
                            <td class="text-center">@((item.Quantidade * item.Lanche.Preco).ToString("c"))</td>
                            <td class="text-center">
                                <a asp-controller="CarrinhoCompra" asp-action="RemoverItemDoCarrinhoCompra" asp-route-lancheId="@item.Lanche.LancheId">
                                    <p class="style=color:red">
                                        <i class="fa-solid fa-trash fa-1x " style="color:#d9534f"></i>
                                    </p>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>

                <tfoot>
                    <tr>
                        <td colspan="3" class="text-end">
                            <b>Total:</b>
                        </td>
                        <td class="text-start">
                            <b>@Model.CarrinhoCompraTotal.ToString("c")</b>
                        </td>
                    </tr>
                </tfoot>

            </table>
        </div>

        @*m-4 eh a margin*@
        <div class="text-end m-1">
            @*            <form method="post" asp-controller="Pedido" asp-action="Checkout">*@
            <a class="btn btn-primary m-1" asp-controller="Lanche" asp-action="List">Continuar Comprando</a>
            <a class="btn btn-success" asp-controller="Pedido" asp-action="Checkout">Encerrar Pedido</a>
            @*            </form>*@
        </div>
    </div>
</div>